# Supabase Configuration
VITE_SUPABASE_URL=https://abwgzbqkiybvxousxipc.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFid2d6YnFraXlidnhvdXN4aXBjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyOTAyOTMsImV4cCI6MjA5Nzg2NjI5M30.qhBKH4Pl7-gnKv6ethg72-jLX_fVaUd_GGVI0NzoAj0
